<!DOCTYPE html>
<html>
    <head>
        <h1>Adding New User</h1>
        <body>
            <div>
                <h1>Id Card Details</h1>
                <h2>Name: <%= name%></h2>
                <h2>Email: <%= email%> </h2>
                <h2>Position: <%= position%></h2>
                <h2>Location: <%= location%> </h2>
                <h2>Manager: <%= mgmt%></h2>
            </div>
            <form name="newUser" id="newUser" action="/newUser" method="POST">
            <button type="submit">Create</button>
            </form>
        </body>
    </head>
</html>