<!DOCTYPE html>
<html>
  <head>
    <title>SME Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Documents</h1>
    <p>ID:  <%= i1 %></p>
    <p>Department:  <%= i2 %></p>
    <p>Postition:  <%= i3 %></p>
    <p>Lanuguages:  <%= i4 %></p>
    <p>Erik Has <%= a2 %></p>
    <p>Erik Has <%= a3 %></p>
    <p>Erik Has <%= a4 %></p>
    <p>Erik Has <%= a5 %></p>
    <p>Erik Has <%= a6 %></p>
    <p>Erik Has <%= a7 %></p>
    <p>Erik Has <%= a8 %></p>
    <p>Erik Has <%= a9 %></p>
    <p>Erik Has <%= a10 %></p>
    
  </body>
  <a href="../injectDoc">Add Activity</a>
</html>
