<!DOCTYPE html>
<html>
  <head>
    <title>SME Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Documents</h1>
    <p>ID:  <%= i1 %></p>
    <p>Department:  <%= i2 %></p>
    <p>Postition:  <%= i3 %></p>
    <p>Lanuguages:  <%= i4 %></p>
    <p>Erik Has <%= a2 %></p>
    <p>Erik Has <%= a3 %></p>
    <p>Erik Has <%= a4 %></p>
    <p>Erik Has <%= a5 %></p>
    <p>Erik Has <%= a6 %></p>
    <p>Erik Has <%= a7 %></p>
    <p>Erik Has <%= a8 %></p>
    <p>Erik Has <%= a9 %></p>
    <p>Erik Has <%= a10 %></p>
    
    <form action="/" method="POST">
      <div>
            <label for="Overall">Overall</label>
            <input type="text" id="Overall" name="Overall"
            required>
    </div>
    <div>
      <label for="SubCat">Sub-Cat</label>
      <input type="text" id="SubCat" name="SubCat"
      required>
    </div>
    <div>
      <label for="metric">metric</label>
      <input type="text" id="metric" name="metric"
      required>
    </div>
    <div>
      <label for="value">value</label>
      <input type="number" id="value" name="value"
      required>
    </div>
    <div>
      <label for="Proof">Proof</label>
      <input type="text" id="Proof" name="Proof"
      required>
    </div>
    <div>
      <label for="notes">notes</label>
      <input type="text" id="notes" name="notes"
      required>
    </div>
    <div>
      <label for="Tag">Tags</label>
      <input type="text" id="Tag" name="Tag"
      required>
    </div>
    <button type="submit">Add Doc</button>
  </form>

  </body>
</html>
